[submodule "build"]
	path = depends/build
	url = https://github.com/djp952/build.git
[submodule "curl"]
	path = depends/curl
	url = https://github.com/curl/curl.git
[submodule "libcurl"]
	path = depends/libcurl
	url = https://github.com/djp952/prebuilt-libcurl-httponly.git
[submodule "libhdhomerun"]
	path = depends/libhdhomerun
	url = https://github.com/silicondust/libhdhomerun.git
[submodule "libuuid"]
	path = depends/libuuid
	url = https://github.com/djp952/prebuilt-libuuid.git
[submodule "sqlite"]
	path = depends/sqlite
	url = https://github.com/djp952/external-sqlite.git
[submodule "xbmc"]
	path = depends/xbmc
	url = https://github.com/xbmc/xbmc.git
[submodule "http-status-codes-cpp"]
	path = depends/http-status-codes-cpp
	url = https://github.com/j-ulrich/http-status-codes-cpp
