[submodule "build"]
	path = depends/build
	url = https://github.com/djp952/build.git
[submodule "sqlite"]
	path = depends/sqlite
	url = https://github.com/djp952/external-sqlite.git
[submodule "libuuid"]
	path = depends/libuuid
	url = https://github.com/djp952/prebuilt-libuuid.git
[submodule "libz"]
	path = depends/libz
	url = https://github.com/djp952/prebuilt-libz.git
[submodule "libhdhomerun"]
	path = depends/libhdhomerun
	url = https://github.com/silicondust/libhdhomerun.git
[submodule "libcurl-nossl"]
	path = depends/libcurl-nossl
	url = https://github.com/djp952/prebuilt-libcurl-nossl.git
[submodule "apktool"]
	path = depends/apktool
	url = https://github.com/djp952/prebuilt-apktool.git
[submodule "xbmc"]
	path = depends/xbmc
	url = https://github.com/xbmc/xbmc.git
