<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
  <section id="pvr.hdhomerundvr" label="-1">

    <category id="general" label="30000">
      <group id="1" label="-1">

        <setting id="pause_discovery_while_streaming" type="boolean" label="30100" help="30502">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>

        <setting id="prepend_channel_numbers" type="boolean" label="30107" help="30503">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>

        <setting id="use_episode_number_as_title" type="boolean" label="30112" help="30504">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>

        <setting id="discover_recordings_after_playback" type="boolean" label="30123" help="30505">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>

        <setting id="use_backend_genre_strings" type="boolean" label="30117" help="30506">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>

        <setting id="show_drm_protected_channels" type="boolean" label="30118" help="30507">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>

        <setting id="use_channel_names_from_lineup" type="boolean" label="30128" help="30508">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>

        <setting id="disable_recording_categories" type="boolean" label="30135" help="30530">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>

        <setting id="generate_repeat_indicators" type="boolean" label="30133" help="30528">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>

        <setting id="use_airdate_as_recordingdate" type="boolean" label="30137" help="30532">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>

        <setting id="delete_datetime_rules_after_v2" type="integer" label="30108" help="30509">
          <level>0</level>
          <default>86400</default>
          <constraints>
            <options>
              <option label="30213">-1</option>
              <option label="30209">21600</option>
              <option label="30210">43200</option>
              <option label="30211">86400</option>
              <option label="30212">172800</option>
            </options>
          </constraints>
          <control type="spinner" format="integer"/>
        </setting>

      </group>
    </category>

    <category id="discovery_intervals" label="30001">
      <group id="1" label="-1">

      <setting id="discover_devices_interval_v2" type="integer" label="30101" help="30510">
          <level>0</level>
          <default>600</default>
          <constraints>
            <options>
              <option label="30216">30</option>
              <option label="30217">60</option>
              <option label="30201">300</option>
              <option label="30202">600</option>
              <option label="30203">900</option>
              <option label="30204">1800</option>
              <option label="30205">2700</option>
              <option label="30206">3600</option>
              <option label="30207">7200</option>
              <option label="30208">14400</option>
            </options>
          </constraints>
          <control type="spinner" format="integer"/>
        </setting>

        <setting id="discover_lineups_interval_v2" type="integer" label="30102" help="30511">
          <level>0</level>
          <default>2700</default>
          <constraints>
            <options>
              <option label="30216">30</option>
              <option label="30217">60</option>
              <option label="30201">300</option>
              <option label="30202">600</option>
              <option label="30203">900</option>
              <option label="30204">1800</option>
              <option label="30205">2700</option>
              <option label="30206">3600</option>
              <option label="30207">7200</option>
              <option label="30208">14400</option>
            </options>
          </constraints>
          <control type="spinner" format="integer"/>
        </setting>

        <setting id="discover_recordings_interval_v2" type="integer" label="30104" help="30513">
          <level>0</level>
          <default>600</default>
          <constraints>
            <options>
              <option label="30216">30</option>
              <option label="30217">60</option>
              <option label="30201">300</option>
              <option label="30202">600</option>
              <option label="30203">900</option>
              <option label="30204">1800</option>
              <option label="30205">2700</option>
              <option label="30206">3600</option>
              <option label="30207">7200</option>
              <option label="30208">14400</option>
            </options>
          </constraints>
          <control type="spinner" format="integer"/>
        </setting>

        <setting id="discover_recordingrules_interval_v2" type="integer" label="30105" help="30514">
          <level>0</level>
          <default>7200</default>
          <constraints>
            <options>
              <option label="30201">300</option>
              <option label="30202">600</option>
              <option label="30203">900</option>
              <option label="30204">1800</option>
              <option label="30205">2700</option>
              <option label="30206">3600</option>
              <option label="30207">7200</option>
              <option label="30208">14400</option>
            </options>
          </constraints>
          <control type="spinner" format="integer"/>
        </setting>

        <setting id="discover_episodes_interval_v2" type="integer" label="30106" help="30515">
          <level>0</level>
          <default>7200</default>
          <constraints>
            <options>
              <option label="30201">300</option>
              <option label="30202">600</option>
              <option label="30203">900</option>
              <option label="30204">1800</option>
              <option label="30205">2700</option>
              <option label="30206">3600</option>
              <option label="30207">7200</option>
              <option label="30208">14400</option>
            </options>
          </constraints>
          <control type="spinner" format="integer"/>
        </setting>

      </group>
    </category>

    <category id="edl" label="30003">
      <group id="1" label="-1">

        <setting id="enable_recording_edl" type="boolean" label="30119" help="30516">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>

        <setting id="recording_edl_folder" type="path" parent="enable_recording_edl" label="30120" help="30517">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
            <writable>false</writable>
          </constraints>
          <dependencies>
            <dependency type="enable" setting="enable_recording_edl">true</dependency>
          </dependencies>
          <control type="button" format="path">
            <heading>30120</heading>
          </control>
        </setting>

        <setting id="recording_edl_folder_2" type="path" parent="enable_recording_edl" label="30136" help="30531">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
            <writable>false</writable>
          </constraints>
          <dependencies>
            <dependency type="enable" setting="enable_recording_edl">true</dependency>
            <dependency type="visible" setting="recording_edl_folder" operator="!is"></dependency>
          </dependencies>
          <control type="button" format="path">
            <heading>30136</heading>
          </control>
        </setting>

        <setting id="recording_edl_folder_3" type="path" parent="enable_recording_edl" label="30136" help="30531">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
            <writable>false</writable>
          </constraints>
          <dependencies>
            <dependency type="enable" setting="enable_recording_edl">true</dependency>
            <dependency type="visible" setting="recording_edl_folder" operator="!is"></dependency>
            <dependency type="visible" setting="recording_edl_folder_2" operator="!is"></dependency>
          </dependencies>
          <control type="button" format="path">
            <heading>30136</heading>
          </control>
        </setting>

        <setting id="recording_edl_folder_is_flat" type="boolean" parent="enable_recording_edl" label="30129" help="30518">
          <level>0</level>
          <default>false</default>
          <dependencies>
            <dependency type="enable" setting="enable_recording_edl">true</dependency>
          </dependencies>
          <control type="toggle"/>
        </setting>

        <setting id="recording_edl_cut_as_comskip" type="boolean" parent="enable_recording_edl" label="30130" help="30519">
          <level>0</level>
          <default>false</default>
          <dependencies>
            <dependency type="enable" setting="enable_recording_edl">true</dependency>
          </dependencies>
          <control type="toggle"/>
        </setting>

        <setting id="recording_edl_start_padding" type="integer" parent="enable_recording_edl" label="30121" help="30520">
          <level>0</level>
          <default>0</default>
          <constraints>
            <minimum label="30218">0</minimum>
            <step>500</step>
            <maximum>10000</maximum>
          </constraints>
          <dependencies>
            <dependency type="enable" setting="enable_recording_edl">true</dependency>
          </dependencies>
          <control type="slider" format="integer">
            <formatlabel>14046</formatlabel>
          </control>
        </setting>

        <setting id="recording_edl_end_padding" type="integer" parent="enable_recording_edl" label="30122" help="30521">
          <level>0</level>
          <default>0</default>
          <constraints>
            <minimum label="30218">0</minimum>
            <step>500</step>
            <maximum>10000</maximum>
          </constraints>
          <dependencies>
            <dependency type="enable" setting="enable_recording_edl">true</dependency>
          </dependencies>
          <control type="slider" format="integer">
            <formatlabel>14046</formatlabel>
          </control>
        </setting>

      </group>
    </category>

    <category id="advanced" label="30002">
      <group id="1" label="-1">

        <setting id="use_http_device_discovery" type="boolean" label="30132" help="30527">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>

        <setting id="use_direct_tuning" type="boolean" label="30111" help="30522">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>

        <setting id="direct_tuning_protocol" type="integer" parent="use_direct_tuning" label="30134" help="30529">
          <level>0</level>
          <default>0</default>
          <constraints>
            <options>
              <option label="30233">0</option>
              <option label="30234">1</option>
            </options>
          </constraints>
          <dependencies>
            <dependency type="enable" setting="use_direct_tuning">true</dependency>
          </dependencies>
          <control type="spinner" format="integer"/>
        </setting>

        <setting id="stream_read_chunk_size_v2" type="integer" label="30114" help="30524">
          <level>0</level>
          <default>4096</default>
          <constraints>
            <options>
              <option label="30218">0</option>
              <option label="30219">1024</option>
              <option label="30220">2048</option>
              <option label="30221">4096</option>
              <option label="30222">8192</option>
              <option label="30223">16384</option>
              <option label="30229">32768</option>
            </options>
          </constraints>
          <control type="spinner" format="integer"/>
        </setting>

        <setting id="stream_ring_buffer_size_v2" type="integer" label="30115" help="30525">
          <level>0</level>
          <default>1048576</default>
          <constraints>
            <options>
              <option label="30224">1048576</option>
              <option label="30225">2097152</option>
              <option label="30226">4194304</option>
              <option label="30227">8388608</option>
              <option label="30228">16777216</option>
            </options>
          </constraints>
          <control type="spinner" format="integer"/>
        </setting>

        <setting id="deviceauth_stale_after_v2" type="integer" label="30131" help="30526">
          <level>0</level>
          <default>72000</default>
          <constraints>
            <options>
              <option label="30213">-1</option>
              <option label="30207">7200</option>
              <option label="30208">14400</option>
              <option label="30230">28800</option>
              <option label="30210">43200</option>
              <option label="30231">57600</option>
              <option label="30232">72000</option>
              <option label="30211">86400</option>
            </options>
          </constraints>
          <control type="spinner" format="integer"/>
        </setting>

      </group>
    </category>

  </section>
</settings>